<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- The HTML 4.01 Transitional DOCTYPE declaration-->
<!-- above set at the top of the file will set     -->
<!-- the browser's rendering engine into           -->
<!-- "Quirks Mode". Replacing this declaration     -->
<!-- with a "Standards Mode" doctype is supported, -->
<!-- but may lead to some differences in layout.   -->

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Project Gabriel</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=init"></script>
</head>
<body>
    <header>
        <div class="title" id="name">User</div>
    </header>
    
    <table class="status-table">
        <tr>
            <th>EDA</th>
            <th>HR</th>
            <th>ACC</th>
        </tr>
        <tr>
            <td id="eda">--</td>
            <td id="hr">--</td>
            <td id="acc">--</td>
        </tr>
        <tr>
            <th colspan="3" style="padding-top: 100px;">STRESS</th>
        </tr>
        <tr>
            <td id="stress" colspan="3">--</td>
        </tr>
    </table>
    
    <div id="counter">0</div>
</body>
</html>
